/* TopNav design */

.top-nav-item {
  border: none !important;
  border-radius: 0 !important;
  color: white;
  font-size: 12px;
}

.top-nav-item:hover {
  background-color: white;
}


/* Banner design */
.hero-image { 

  height: 10%;
  width: 100%; 
  position: relative;
} 

.hero-text {
  position: relative;
  color: white
}

.hero-text-top {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ContactBanner design */
.hero-text-contact {
  position: absolute;
  text-align: left;
  /* top: 25%; */
  /* left: 25%; 
  transform: translate(-50%, -50%); */
}







#card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.carousel-top {
  height: 250px
}

.hero-text-carousel {
  position: relative;
  margin-top: -2vh;
}

#carousel-top-button{
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

