
@media (max-width: 1000px) {
    #top-nav {
        display: none;
    }
}


@media (max-width: 1000px) {
    #hero-text-detail {
        font-size: 7vw;
    }
}

@media (min-width: 1000px) {
    .price-table-features {
        min-height: 320px;
    }
}

@media (max-width: 767px) {
    .add-to-card {
        text-align: center;
    }
}



$theme-colors: (
  primary: #930800,
  danger: #E60000,
  secondary: #E54B4B
);


// Import Bootstrap and its default variables

@import '~bootstrap/scss/bootstrap';


