
@media (max-width: 1000px) {
    #top-nav {
        display: none;
    }
}


@media (max-width: 1000px) {
    #hero-text-detail {
        font-size: 7vw;
    }
}

$theme-colors: (
  primary: #930800,
  danger: #E60000
);


// Import Bootstrap and its default variables

@import '~bootstrap/scss/bootstrap';


