ul {
   list-style-type: none;
   padding-left: 0px;
}

.discounts ul li {
   padding: 10px 15px;
   border: 1px solid rgba(0,0,0,0.07);
   border-radius: 1px;
   margin-bottom: 5px;
   font-size: .7em;
   text-transform: uppercase;
   font-weight: 900;
   letter-spacing: .1em;
   color: #1f2548;
}

.highlight-text {
   color: #E54B4B;
}