.vignette-container {
   min-height: 200px;
   background-size: cover;
   border-radius: 10px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   margin-bottom: 100px;
   cursor: pointer;
   color: black;
}

.vignette-content {
   padding: 5px;
   background-color: white;
   position: absolute;
   word-wrap:break-word;
   font-size: 12px;
   border-radius: 10px;
   top: 85%;
   box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
   width: 85%;
   height: 60%;
}

.continue-button {
   color: #777777;
   position: absolute;
   left: calc(50% - 15px);
   font-size: 25px;
   bottom: -18px;
}