.solution-card {
  padding: 0px;
}

.solution-card-cnt {
  border-radius: 5px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution-card-cnt span{
  position: relative;
}

/* .solution-card :hover{
  transform: scale(1.1);
} */

.solution-card-cnt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.solution-card-cnt:hover span{
  padding-right: 25px;
}


.solution-card-cnt:hover span:after {
  opacity: 1;
  right: 0;
}
