

body {
  margin: 0;
}

.hero-image { 

  height: 10%;
  /* filter: blur(5px);  */
  width: 100%; 
  position: relative;
} 

.hero-text {
  position: relative;
  color: white;
}

.hero-text-centered {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* .carousel { */
  /* display: none; */
  /* display: block; */
  /* margin:-30.875% 0; */
  /* background-color: purple; */
  /* width: 50%; */
  /* padding: 0px; */
  /* margin-left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* position: absolute; */
  /* margin-top: -20%; */
  /* height: 50%; */
/* } */


#card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.carousel-top {
  height: 226px
}

.hero-text-carousel {
  position: relative;
  margin-top: -70px;
}